*.DS_*
example/bin/example*
example/obj
example/bin/libs
example/*.creator*
example/.vs/example/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.dll
*.filters
*.user
example/bin/data/marker*.png
example/bin/data/board*.png
